<div class="max-w-[1200px] mx-auto py-6 px-4">
  <app-back-button navigateTo="/products/All">
    Continue Shopping
  </app-back-button>

  @if (store.wishlistCount() > 0) {
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">My Wishlist</h1>
    <span>{{ store.wishlistCount() }} items</span>
  </div>
  <div class="responsive-grid">
    @for (product of store.wishlistItems(); track product.id) {
    <app-product-card [product]="product"></app-product-card>
    }
  </div>
  } @else{ }
</div>
